<!DOCTYPE html>
<html lang="fa" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    <title>ورود</title>
</head>
<body style="font-family: Bbadr;background-color: #ABFFE2">

<div class="container mt-5" style="max-width: 23rem">
    <div id="response"></div>
    <div class="row">
        <div class="col">
            <div class="card rounded border mb-3" style="border: #00b08c solid 2px">
                <div class="card-header text-center">
                    <h4 style="color:#00b08c;">ورود</h4>
                </div>
                <form class="needs-validation" novalidate id="loginForm" th:action="@{/login}" method="post">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-10 mt-3" dir="rtl">
                            <div class="input-group text-center">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" th:field="${loginDto.username}"
                                       class="form-control" id="username" placeholder="نام کاربری"
                                       aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    نام کاربری نمی تواند خالی باشد!
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-10 mt-3 text-center" dir="rtl" id="pwd-container" >
                            <div class="mb-2">
                                <div class="input-group text-center">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" dir="rtl" onclick="showPassword()"><i
                                                class="fa fa-eye-slash" id="passIcon"></i></span>
                                    </div>

                                    <input type="password" th:field="${loginDto.password}"
                                           class="form-control" id="password" placeholder="رمز عبور"
                                           aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        رمز عبور نمی تواند خالی باشد!
                                    </div>
                                </div>
                            </div>
                        </div>


                        <p th:if="${param.loginError}" class="text-danger" dir="rtl">کاربر یافت نشد!</p>
                        <div class="col-10 text-center mb-3">
                            <button class="btn" type="submit" style="background-color:#00b08c;width: 100%;color: white">ورود</button>
                        </div>
                        <div class="col-10 mb-3 text-center">
                            <h6 class="text-center"><a class="page-link" href="/register" style="color: #00b08c">ثبت نام</a></h6>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.12.1/js/v4-shims.js"></script>
<script src="/js/showPassword.js"></script>
<script src="/js/validation.js"></script>


</body>
</html>