<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MULTIPLE CHOICE QUESTION</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/multipleChoice-question.css" rel="stylesheet" type="text/css">
    <script src="/js/addMultipleChoice.js" type="text/javascript"></script>

</head>
<body class="row text-center justify-content-center m-5">

<div class="container m-3">
    <h4>Add Multiple Choice Question</h4>
    <div class="row  justify-content-center align-items-center">
        <form class="m-3" th:action="@{/question/addMultipleChoice/__${quizId}__}" method="post"
              th:object="${question}">
            <input type="text" th:field="*{title}" placeholder="title" maxlength="12"
                   class="text-center m-2 form-control" required>
            <input type="text" th:field="*{content}" placeholder="content" class="text-center m-2 form-control">
            <input type="text" name="point" placeholder="point" class="text-center m-2 form-control" required>
            <input type="text" placeholder="enter choice" required id="choiceContent"
                   class="text-center m-2 form-control">
            <select id="choices" th:field="${question.correctAnswer.content}" class="text-center m-2 form-control">
            </select>
            <div class="d-flex justify-content-between">
                <input type="button" id="Add" value="Add" onclick="addChoice()" class="btn btn-info myBtn mr-2"/>
                <input type="button" value="Remove" onclick="removeChoice()" class="btn btn-info myBtn ml-2">

            </div>
            <p align="center">Add to question bank?</p>

            <div align="center">
                <label class="form-check-label" for="yes">Yes</label>
                <input type="radio" value="Yes" name="addToBank" id="yes">

                <label class="form-check-label" for="no">No</label>
                <input type="radio" value="No" name="addToBank" id="no">
            </div>
            <input type="text" id="myChoice" name="allOptions" value="" hidden>
            <input type="submit" value="save" onclick="addHide()" class="btn saveBtn w-100">
        </form>
    </div>
</div>

<!--<a class="btn btn-info row" th:href="@{/question/__${quizId}__/questionPage}">Back To Questions</a>-->

</body>


</html>